/* css style starts here */
/* universal selectors */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* fonts */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
body {
  background-color: #4d47ff22;
}
/* shared color */
.btn {
  background-color: #4e47ff;
  color: #ffffff;
}
.btn:hover {
  background-color: blue;
  color: white;
}

/* header style */
header {
  width: 1440px;
  height: 698px;
  background-image: url(../images/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  width: 1140px;
  height: 151px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 158px;
}
.logo h1 {
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.navbar-btn button {
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
.banner-section {
  width: 950px;
  height: 237px;
  margin: 0 auto;
}
.banner-section h1 {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  color: #252432;
  margin-bottom: 37px;
}
.banner-button button {
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* action section style */
.action-section {
  width: 1140px;
  height: 328px;
  margin: 116px 160px 116px 140px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.action-content {
  margin: 62px 220px 62px 0px;
}
.action-content h1 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.action-content p {
  font-size: 24px;
  color: #25243285;
  margin: 23px 0px;
}
.action-content button {
  padding: 12px 36px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
.action-image img {
  border-radius: 48px;
}
/* productive user styles  */
.productive-user {
  width: 1140px;
  height: 306px;
  /* margin: 0 auto; */
  background-color: #4d47ff41;
  padding: 50px 142px;
  border-radius: 24px;
  margin: 116px 160px 140px 135px;
}
.productive-user-heading h2 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #252432;
}
.product-card h1 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.product-card p {
  font-size: 20px;
  font-weight: 400;
  color: #25243285;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px 60px;
}
/* user feedback section styles */
.user-feedback {
  width: 1140px;
  height: 342px;
  margin: 137px 150px 137px;
}
.user-feedback-header h2 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: #252432;
  margin-bottom: 50px;
}
.user-feedback-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-icon img {
  font-size: 20px;
  margin-bottom: 24px;
}
.feedback h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.feedback p {
  font-size: 15px;
}
.feedback-profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 24px;
}
.profile-image img {
  border-radius: 50%;
}
.profile-details h5 {
  font-size: 15px;
}
.user-feedback-box {
  width: 366px;
  height: 243px;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.249);
  margin-right: 20px;
}
/* focus section style */
.focus {
  width: 1140px;
  height: 696px;
  margin: 137px 150px 70px;
  padding-top: 70px;
  border-radius: 14px;
  background-color: #ffffff;
}
.focus-title h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.focus-title p {
  font-size: 15px;
  text-align: center;
  color: #2524328d;
  margin-bottom: 20px;
}
.focus-btn button {
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}
.focus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.focus-banner img {
  border-radius: 48px;
  margin: 20px 150px 70px;
}
/* contact section style */
.contact {
  width: 1140px;
  height: 632px;
  display: flex;
  gap: 115px;

  align-items: center;
  justify-content: space-between;
  margin: 90px 150px 12px;
}
.contact-left {
  width: 528px;
  height: 232px;
}
.contact-left h1 {
  font-size: 97px;
  font-weight: 900;
  text-wrap: nowrap;
}

.contact-right label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0px;
}
.contact-right input {
  width: 497px;
  height: 70px;
  background-color: #ffffff;
  /* border: none; */

  border-radius: 10px;
  padding-left: 32px;
  font-size: 20px;
}
.contact-right textarea {
  height: 135px;
  width: 497px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 32px;
  font-size: 20px;
  padding-top: 20px;
}

.contact-right input[type="button"] {
  background-color: #4e47ff;
  color: #ffffff;
}
.contact-right input[type="button"]:hover {
  background-color: blue;
  color: white;
}
/* footer section styles */
.footer {
  width: 1440px;
  height: 428px;
  padding: 104px 455px 105px 454px;
  background-color: #ffffff;
}
.footer-card h1 {
  font-size: 100px;
  font-weight: 900;
  color: #4e47ff;

  text-align: center;
  margin-bottom: 8px;
}
.footer-description {
  font-size: 15px;
  text-align: center;
  text-wrap: wrap;
  margin-bottom: 20px;
}
.footer-navbar nav ul {
  display: flex;
  list-style: none;
  gap: 48px;
  text-align: center;
  justify-content: center;
}
.footer-navbar nav ul li a {
  text-decoration: none;
  color: #252432;
  text-align: center;
}
.footer-navbar nav ul li a:hover {
  text-decoration: underline;
  color: #4e47ff;
}
